.ant-form {
    color: inherit;
}

.ant-form-item {
    margin-bottom: 24px !important;
    color: inherit;
}

.ant-form-item-with-help {
    margin-bottom: 0 !important;
}

.action-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0 !important;
    @media screen and (max-width: 992px) {
        width: 100%;
    }
}


.button-wrapper {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convert-button-wrapper {
    margin-left: 20px;
}

.inline-form-button {
    margin-top: 6px;
}
